.header-style {
  background: white;
  height: 60px;
}

.menu-button {
  color: #182628;
}

.logo-style
 {
  color: #182628;
 }

.notification {
  color: #182628;
  font-size: 31px;
}

.dropdown-btn {
  color: #182628;
}

.avatar-position {
  text-align: -webkit-center;
}

.User-Account {
  font-size: small;
  font-weight: 600
}

.back-button {
  background: #3B945E;
  color: #182628;
}
