.q-card{
  height: 700px;
  background-color: #F2F2F2;
}

.search-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-field {
  width: 200px;
}

.search-button {
  color: #F2F2F2;
  background-color: #3B945E;
}
