.layout-size {
  height: 100vh;
}
.header-style {
  background: white;
  height: 60px;
}
.drawer-color {
  color: #182628;
}

.notification {
  font-size: 31px;
}

.notification-color {
  color: #182628;
}

.dropdown-btn {
  color: #182628;
}

.avatar-space {
  text-align: -webkit-center;
}

.avatar-size {
  width: 1.6em;
  height: 1.6em;
}

.User-Account {
  font-size: small;
  font-weight: 600;
}

.back-button {
  background: #3b945e;
  color: #182628;
}
