.my-card {
  width: 100%;
  max-width: 300px;
  // background: radial-gradient(circle, #e1ff35 0%, #018835 100%)
}

.sign-caption{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}
